.section-slider {
  @media only screen and (min-height: 150px) {
    .modal-icon {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      display: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    &.visible {
      animation: showElement 1s normal 0s 1 linear forwards;
    }
    .modal {
      padding: 0rem;
      height: 100%;
      .popup-modal {
        min-height: 100%;
        padding: 2.2vh 1.8rem;
        background-color: rgb(255, 240, 233);
        position: relative;
        z-index: 100;
        display: flex;
      }
      &.modal-hidden {
        display: none;
      }

      .modal-box {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        &__title {
          margin: 0;
          font-size: 3.5vh;
          line-height: 110%;
          margin-bottom: 2vh;
        }
        &__close-icon {
          cursor: pointer;
          display: none;
        }
      }

      .btn {
        margin: 0;
        @include btn;
      }

      .modal-body {
        margin-bottom: 2.2vh;
        &__text {
          margin-bottom: 2vh;
          font-size: 2.2vh;
          font-style: normal;
          font-family: $font1;
          font-weight: 400;
          line-height: 134%;
        }

        &__buttons {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.8vh;

          .btn:first-of-type {
            background-color: $color-orange;
            color: #fff;
            border: 2px solid $color-orange;
            padding: 1.7vh;
          }
          .btn:nth-of-type(2) {
            @include btn_transparent;
            border: 2px solid #000;
            padding: 1.7vh;
          }

          .btn {
            width: 100%;
          }
        }
      }

      .link {
        font-family: $font1;
      }
      .logo {
        display: block;
        width: 7vh;
        margin-bottom: 2vh;
        img {
          display: block;
          width: 100%;
        }
      }
      .footer {
        font-family: $font1;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__image-area {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 14vh;
          margin: 0 auto;
          position: relative;
          margin-bottom: 0;
        }
        &__image {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          user-select: none;
          pointer-events: none;
          margin-bottom: 4vh;
          img {
            display: block;
            height: 100%;
          }
          &_absolute {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
          }
        }

        &-glass {
          transition: 0.4s;
          height: 6vh;
          max-height: 7rem;
          &.animated {
            animation: glass 1s linear 1 normal forwards;
          }
        }

        &-steam {
          transform-origin: bottom 65%;
          animation: steam2 3s linear infinite normal forwards;
        }
        &__box-content {
          width: 100%;
          max-width: 100%;
          text-align: center;
          color: $color-gray0;
          font-size: 1.69vh;
          line-height: 159%;
          font-family: $font1;
        }

        &__rules {
          .text-link {
            text-decoration: underline;
            color: $color-gray0;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      .share {
        &__text {
          text-align: center;
          font-family: $font1;
          color: var(--gray-day-600, #65707b);
          font-size: 1.3rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.8rem;
          margin-bottom: 1rem;
        }

        &__links-list {
          display: flex;
          justify-content: center;
          gap: 1.6rem;
          position: relative;
          z-index: 20;
        }
      }
      .links {
        &__item {
          cursor: pointer;
          img {
            display: block;
            width: 100%;
          }
        }
      }

      .copy-tooltip {
        position: absolute;
        background-color: #fff;
        pointer-events: none;
        bottom: -4.5rem;
        padding: 1.2rem;
        text-align: center;
        font-family: $font1;
        color: var(--gray-day-600, #65707b);
        font-size: 1.3rem;
        border-radius: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.8rem;
        opacity: 0;
        transition: 0.4s;
        max-width: none;
        width: fit-content;
        &.opened {
          opacity: 1;
        }
      }
    }
  }
  @media (min-width: 768px) {
    br {
      display: none;
    }
    .popup-modal {
    }
    .modal-icon {
      position: absolute;
      width: 10rem;
      height: 10rem;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 3rem;
      right: -100vw;
      z-index: 100;
      box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
      cursor: pointer;
      transition: 0.4s;
      &.shown {
        right: 17%;
      }
      &.animated {
        animation: rotate 3s linear 0s infinite forwards;
      }
      img {
        width: 100%;
        max-width: 7rem;
        display: block;
      }
    }
    .modal {
      position: absolute;
      min-width: 100%;
      background-color: #ffffff85;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      &__container {
        padding: 2.4rem 4rem 0 3.2rem;
      }
      &__body {
      }

      &__footer {
        display: flex;
        flex-direction: row;
        background-color: #edf0f2;
      }

      .popup-modal {
        z-index: 100;
        max-width: 73rem;
        padding: 0;
        min-height: 35rem;
        min-height: auto;
        background: var(--white-general, #fff);
        border-radius: 1.6rem;
        overflow: hidden;
        box-shadow: 0px 4px 8px 0px #3d3d3d1f;
      }
      .logo {
        display: none;
      }

      .modal-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        border: none;
        padding: 0;

        &__header {
          position: relative;
        }

        &__title {
          margin: 0;
          margin-bottom: 1.3rem;
          font-size: 2.8rem;
          font-style: normal;
          font-weight: 700;
          line-height: 2.94rem;
        }

        &__close-icon {
          display: block;
          position: absolute;
          width: 3rem;
          height: 3rem;
          top: 0;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.4s;
          span {
            width: 100%;
            height: 2px;
            position: absolute;
            background-color: #ffffff00;
            &::before,
            &::after {
              position: absolute;
              content: "";
              width: 100%;
              height: 2px;
              position: absolute;
              background-color: #1f2229;
            }
            &::before {
              transform: rotate(-45deg);
            }
            &::after {
              transform: rotate(45deg);
            }
          }
          &:hover {
            transform: scale(0.9);
          }
        }
      }
      .modal-body {
        margin-bottom: 3.2rem;
        &__text {
          margin-bottom: 2.4rem;
          font-size: 1.6rem;
          line-height: 2.08rem;
          max-width: 90%;
        }
        &__buttons {
          gap: 1.8rem;
          flex-direction: row;

          .btn {
            max-width: fit-content;
          }
          .btn:first-of-type,
          .btn:nth-of-type(2) {
            padding: 1.6rem 2.4rem;
          }
        }
      }
      .footer {
        font-family: $font1;
        width: 100%;
        padding: 0 3.7rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        align-self: flex-end;
        background-color: #edf0f2;
        padding: 2.4rem 4rem 2.4rem 3.2rem;
        &__share-block {
        }

        &__image-area {
          display: none;
        }

        &__box-content {
          width: 40%;
          max-width: 100%;
          text-align: right;
          color: $color-gray0;
          font-size: 1.3rem;
          line-height: 1.38;
          font-family: $font1;
        }

        &__copyrights {
        }

        &__rules {
          .text-link {
            text-decoration: underline;
            color: $color-gray0;
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.8rem;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      .copy-tooltip {
        bottom: 5rem;
        box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
      }
    }
  }
}

// transform: translate(-30%, 20%);
