@keyframes spin-loader {
  //DS - анимация при загрузке страницы
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

////////////////////// Animation ///////////////////
@keyframes spin {
  0%,
  80%,
  100% {
    background-color: #fff;
  }
  40% {
    background-color: #fff;
  }
}

@keyframes downCube {
  0% {
    transform: translateY(-5em) scale(1, 1);
    opacity: 0.1;
  }
  80% {
    transform: translateY(0) scale(1, 1);
    opacity: 1;
  }
  90% {
    transform: translateY(0.2em) scale(1.2, 0.7);
    opacity: 1;
  }
  99% {
    transform: translateY(0) scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1, 1);
    opacity: 1;
  }
}
@keyframes showElement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes steps {
  // 0% {
  //   transform: scale(0.8) translateY(10%);
  // }

  // 20% {
  //   transform: scale(0.84) translateY(12%);
  // }

  0% {
    transform: scale(0.88) translateY(5%);
  }

  25% {
    transform: scale(0.92) translateY(7%);
  }

  50% {
    transform: scale(0.96) translateY(2%);
  }

  100% {
    transform: scale(1) translateY(0%);
  }
}
@keyframes bigger {
  0% {
    opacity: 1;
    transform: scale(0.8) translateY(10%);
  }
  0% {
    opacity: 1;
    transform: scale(1) translateY(0%);
  }
}

@keyframes stepsCouple {
  0% {
    opacity: 1;
    transform: scale(0.8) translateY(8%);
  }

  50% {
    opacity: 1;
    transform: scale(0.9) translateY(9%);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0%);
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes tail {
  0% {
    transform: skewY(5deg) rotate(0deg) translate(2px, -1%);
  }

  5% {
    transform: skewY(2deg) rotate(10deg) translate(5px, -2%);
  }
  10% {
    transform: skewY(5deg) rotate(0deg) translate(2px, -1%);
  }
  15% {
    transform: skewY(2deg) rotate(10deg) translate(5px, -2%);
  }
  20% {
    transform: skewY(5deg) rotate(-15deg) translate(2px, -1%);
  }
  100% {
    transform: skewY(5deg) rotate(-15deg) translate(2px, -1%);
  }
}

@keyframes steam {
  0% {
    transform: scaleY(0.5) skewX(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1) skewX(-7.5deg);
    opacity: 0.5;
  }
  100% {
    transform: scaleY(1.4) skewX(-15deg);
    opacity: 0;
  }
}
@keyframes steam2 {
  0% {
    transform: scaleY(0.8);
    opacity: 0;
  }
  50% {
    // transform: scaleY(1) skewX(-10deg);
    opacity: .8;
  }

  70% {
    // transform: scaleY(1) skewX(-10deg);
    opacity: 0.5;
  }
  100% {
    transform: scaleY(1.4);
    opacity: 0;
  }
}

@keyframes glare {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(1.2) scaleY(0.98);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes glass {
  0% {
    opacity: 0;
    transform: translate(-30%, -80%);
  }

  100% {
    opacity: 1;
    transform: translate(-30%, -30%);
  }
}

//@import "plugins/animate";
